@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>

<p>This database driven website is intended to be a central repository for subsidence data collected around the world.</p>
<p>Having data normalized, centralized, and easily accessible will allow researchers around the world - for the first time</p>
<p>to access field data collected over many years and in a variety of locations. By looking at common features regarding</p>
<p>subsidence these researchers will be able to gain greater understanding of how this effect manifests and how to respond.</p>
<p>With the API, expert system developers will be able to easily pull this data from a REST server and manipulate it for their</p>
<p>calculations. It was developed as part of the flagship Intelligent Systems in Geoscience class at UT Austin/UNAM. </p>


<div class="container">
    <h4>Dr. Enrique Cabral-Cano</h4>
    <p>Dr. Cabral received his doctorate in Marine Geology and Geophysics from the University of Miami in 1995.</p>
    <p>He specializes in satelite geodesy and natural hazards. </p>
</div>

<div class="container">
    <h4>Dr. Suzanne Pierce</h4>
    <p>Dr. Pierce is a research scientist at the Texas Advanced Computing Center and a Lecturer at the UT Austin</p>
    <p>Jackson School of Geoscience. Her specialty is integration of science backed information with human organization </p>
    <p>systems for application to groundwater management and energy water problems.</p>
</div>

<div class="container">
    <h4>Dr. Suzanne Pierce</h4>
    <p>Dr. Pierce is a research scientist at the Texas Advanced Computing Center and a Lecturer at the UT Austin</p>
    <p>Jackson School of Geoscience. Her specialty is integration of science backed information with human organization </p>
    <p>systems for application to groundwater management and energy water problems.</p>
</div>