@{
    ViewData["Title"] = "Contact Information";
}
<h2>@ViewData["Title"]</h2>

<div class="col-sm-4">
    <h4>Study Abroad Office</h4>
    <address>
        UT Austin International Office <br />
        600 W 24th St<br />
        Austin, TX 78705<br />
        <abbr title="Phone">P:</abbr>
        512.471.1211

    </address>
</div>
<div class="col-sm-4"> <img src="C:\Users\aalloy\Pictures\Saved Pictures\University_of_texas_logo.jpg" style="max-height:220px"></div>
<div class="col-sm-4"> <img src="C:\Users\aalloy\Pictures\Saved Pictures\logo_and_coat-of-arms.jpg" style="max-height:220px"></div>


<div>
    <p> <br> <br/> </p>
    <p> <br> <br /> </p>
    <p> <br> <br /> </p>
    <p> <br> <br /> </p>
    <p> <br> <br /> </p>
    <h4>Intelligent Systems/Geoscience Professors</h4>
</div>

<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
            <tr>

                <th>First Name</th>
                <th>Last Name</th>
                <th>Title</th>
                <th>University</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>Enrique</td>
                <td>Cabral</td>
                <td>Dr</td>
                <td>UNAM</td>
                <td><a href="mailto:ecabralcano@gmail.com">ecabralcano@gmail.com</a></td>
            </tr>
            <tr>

                <td>Suzanne</td>
                <td>Pierce</td>
                <td>Dr</td>
                <td>UT Austin</td>
                <td><a href="mailto:sawpierce@gmail.comm">sawpierce@gmail.com</a></td>
            </tr>
        </tbody>
    </table>
</div>

<h4>Student Subsidence Hazard Team</h4>

<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Position</th>
                <th>University</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Adam</td>
                <td>Alloy</td>
                <td>Web Admin</td>
                <td>UT Austin</td>
                <td><a href="mailto:aralloy@gmail.com">aralloy@gmail.com</a></td>
            </tr>
            <tr>
                <td>Arisa</td>
                <td>Ruangsirikulchai</td>
                <td>Hazard Team</td>
                <td>UT Austin</td>
                <td><a href="mailto:arisa_ruang@utexas.edu">arisa_ruang@utexas.edu </a></td>
            </tr>
            <tr>
                <td>Fabiola</td>
                <td>Gonzalez</td>
                <td>Hazard Team</td>
                <td>UNAM</td>
                <td><a href="fgondomi@gmail.com">fgondomi@gmail.com</a></td>
            </tr>
            <tr>
                <td>Ana</td>
                <td>Nila</td>
                <td>Hazard Team</td>
                <td>UNAM</td>
                <td><a href="mailto:ananila@hotmail.es">ananila@hotmail.es</a></td>
            </tr>
        </tbody>
    </table>
</div>


<!--
        <dl class="dl-horizontal">
            <dt>Dr. Enrique Cabral</dt>
            <dd>ecabralcano@gmail.com</dd>
        </dl>
    <strong>Dr. Suzanne Pierce</strong> <a href="sawpierce@gmail.com">sawpierce@gmail.com</a>
    <strong>Celaya Team</strong><br />
    <strong>Website Admin: Adam Alloy</strong> <a href="mailto:aralloy@gmail.com">aralloy@gmail.com</a><br />
    <strong>Fabiola Gonzalez</strong> <a href="mailto:fgondomi@gmail.com">fgondomi@gmail.com</a><br />
    <strong>Ana Nila</strong> <a href="mailto:ananila@hotmail.es">ananila@hotmail.es</a><br />
    <strong>Arisa Ruangsirikulchai</strong><a href="mailto:arisa_ruang@utexas.edu">arisa_ruang@utexas.edu</a><br />
-->
